---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='About'>
    <div class=''>
        <h2 class='mb-4 text-2xl font-bold'>このサイトについて</h2>
        <p class='text-lg font-medium leading-7'>
            Astro.jsで作成し、Netlifyで公開しています．普段のサークル活動の様子や何気ないことを記録していきます．
        </p>
        <h2 class='mb-4 mt-8 text-2xl font-bold'>自己紹介</h2>
        <p class='text-lg font-medium leading-7'>
            電気通信大学2年生(2023.04〜)で、電気通信大学MMAの部長(2023)をしています．
        </p>
        <h3 class='mb-4 mt-8 text-2xl font-bold'>やってきたこと</h3>
        <ul class='list-inside list-disc'>
            <li class='text-lg font-medium leading-7'>
                RCJ2023 (2023.03.24〜2023.03.26) 優秀デザイン賞 RSJ賞受賞
            </li>
            <li class='text-lg font-medium leading-7'>
                部室入退室管理システム entersys 作成 (2023.05)
            </li>
            <li class='text-lg font-medium leading-7'>
                技育博2023参加 (2023.05.14)
            </li>
            <li class='text-lg font-medium leading-7'>
                部員に仕事投げまくった
            </li>
        </ul>
    </div>
</BaseLayout>
