---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div
        class='absolute inset-0 flex flex-col items-center justify-center text-center font-sans font-medium'
    >
        <h1 class='text-5xl font-bold not-italic'>gae's Blog</h1>
        <p class='my-2 text-lg italic'>posting my technical things</p>
        <ul>
            <li
                class='m-auto w-fit py-1 text-2xl hover:scale-110 hover:opacity-80'
            >
                <a href='/posts'>Posts</a>
            </li>
            <li
                class='m-auto w-fit py-1 text-2xl hover:scale-110 hover:opacity-80'
            >
                <a href='/about'>About</a>
            </li>
            <li
                class='m-auto w-fit py-1 text-2xl hover:scale-110 hover:opacity-80'
            >
                <a href='/links'>Links</a>
            </li>
        </ul>
    </div>
</BaseLayout>
