---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle='Links'>
    <h2 class='mb-4 text-2xl font-bold'>MMA用</h2>
    <ul class='list-inside list-disc'>
        <li class='my-6 no-underline'>
            <a
                class='my-2 text-2xl font-medium'
                href='https://wiki.mma.club.uec.ac.jp'
                target='_blank'>MMA Wiki</a
            >
            <p class='my-2 indent-8 text-lg font-medium leading-7'>
                MMAのHP 困った時はここを見れば解決するかもしれない
            </p>
        </li>
        <li class='my-6 no-underline'>
            <a
                class='my-2 text-2xl font-medium'
                href='https://gitlab.mma.club.uec.ac.jp'
                target='_blank'>GitLab (部員専用)</a
            >
            <p class='my-2 indent-8 text-lg font-medium leading-7'>
                部員専用GitLab 部内の開発はここに載せることが多い
            </p>
        </li>
        <li class='my-6 no-underline'>
            <a
                class='my-2 text-2xl font-medium'
                href='https://github.com/gae-22'
                target='_blank'>GitHub</a
            >
            <p class='my-2 indent-8 text-lg font-medium leading-7'>
                自分用のGitHub 最近ようやく手を出し始めた
            </p>
        </li>
        <li class='my-6 no-underline'>
            <a
                class='my-2 text-2xl font-medium'
                href='https://forms.gle/XvY8PMHLuiwC1fS7A'
                target='_blank'>部会フォーム</a
            >
            <p class='my-2 indent-8 text-lg font-medium leading-7'>
                部会のフォーム
            </p>
        </li>
    </ul>

    <h2 class='mb-4 mt-8 text-2xl font-bold'>個人用</h2>
    <ul class='list-inside list-disc'>
        <li class='my-6 no-underline'>
            <a
                class='my-2 text-2xl font-medium'
                href='https://astro.build/'
                target='_blank'>Astro</a
            >
            <p class='my-2 indent-8 text-lg font-medium leading-7'>
                Astroの公式サイト
            </p>
        </li>
        <li class='my-6 no-underline'>
            <a
                class='my-2 text-2xl font-medium'
                href='https://tailwindcomponents.com/cheatsheet/'
                target='_blank'>Tailwind CSS Cheat Sheet</a
            >
            <p class='my-2 indent-8 text-lg font-medium leading-7'>
                Tailwind CSSのコンポーネント一覧
            </p>
        </li>
    </ul>
</BaseLayout>
