---
const { title, url, pubDate } = Astro.props;
---

<li
    class='relative m-4 mx-auto flex w-80 content-center items-center justify-center lg:w-5/12'
>
    <a
        class='relative z-0 min-w-full flex-shrink-0 flex-grow-0 rounded-3xl border-b border-r border-slate-300 bg-gray-200 px-6 pb-10 pt-4 indent-1 text-xl font-bold shadow-md brightness-110 hover:shadow-2xl'
        href={url}
    >
        {title}
        <p class='absolute bottom-2 right-5 text-sm text-slate-500'>
            {pubDate}
        </p>
    </a>
</li>
