---
---

<nav class='bg-slate-100 md:hidden'>
    <button id='button' type='button' class='fixed bottom-5 right-5 z-10'>
        <i id='bars' class='fa-solid fa-bars fa-2x'></i>
        <i id='xmark' class='fa-solid fa-xmark fa-2x hidden'></i>
    </button>
    <ul
        id='menu'
        class='fixed bottom-16 right-0 z-0 w-fit translate-x-full rounded-xl bg-slate-100 bg-opacity-40 text-center text-xl transition-all'
    >
        <li class='p-3'>
            <a
                class='rounded-lg px-3 py-1 text-center active:underline'
                href='/'
            >
                Home
            </a>
        </li>
        <li class='p-3'>
            <a class='rounded-lg px-3 py-1 text-center' href='/posts'> Posts</a>
        </li>
        <li class='p-3'>
            <a class='rounded-lg px-3 py-1 text-center' href='/about'> About</a>
        </li>
        <li class='p-3'>
            <a class='rounded-lg px-3 py-1 text-center' href='/links'> Links</a>
        </li>
    </ul>
</nav>
