---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hamberger from '../components/Hamberger.astro';
const { pageTitle } = Astro.props;
---

<html
    lang='ja'
    class='mx-auto mt-16 w-11/12 bg-slate-200 text-slate-700 sm:w-8/12 md:w-7/12 lg:w-6/12 xl:w-5/12'
>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/gae.JPG' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta name='generator' content={Astro.generator} />
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css'
        />
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css'
            integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        />
        <title>gae's Blog</title></head
    >

    <body class='mb-8'>
        <Header />
        <h1 class='-mt-10 mb-6 text-4xl font-bold md:mt-0'>{pageTitle}</h1>
        <slot />
        <Footer />
        <Hamberger />
        <script>
            import '../scripts/menu.js';
        </script>
        <script>
            button.addEventListener('click', (event) => {
                bars.classList.toggle('hidden');
                xmark.classList.toggle('hidden');
                menu.classList.toggle('translate-x-full');
            });
        </script>
    </body>
</html>
